<!DOCTYPE html>
<html>
<head>
  <title>fserve</title>
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
  <ul class="list">
    {{#each files }}
      {{#if isDir }}
        <li class="item directory"><a href={{ formattedRelPath }} class="link">{{ name }}/</a></li>
      {{else }}
        <li class="item file"><a href="/file{{ relPath }}" class="link">{{ name }}</a></li>
      {{/if }}
    {{/each }}
  </ul>
</body>
</html>
