<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>fserve</title>
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
  <link rel="shortcut icon" href="/static/icon.png">
</head>
<body>
  <div class="nav">
    <div class="left">
      <div class="controls">
        <a href="javascript:window.history.back()"><img src="/static/svg/back.svg" alt=""></a>
        <a href="/"><img src="/static/svg/home.svg" alt=""></a>
      </div>
      <h3 class="cd">{{ files.0.parent }}</h3>
    </div>
    <select>
      <option value="">Name A-Z</option>
      <option value="">Name Z-A</option>
      <option value="">Type A-Z</option>
      <option value="">Type Z-A</option>
    </select>
  </div>
  <div class="list">
    {{#each files }}
      {{#if isDir }}
        <a href={{ formattedRelPath }} class="link">
          <div class="item directory">
            <div class="image">
              <img src="/static/svg/folder.svg" class="icon" />
            </div>
            <p>{{ name }}/</p>
          </div>
        </a>
      {{else }}
        <a href="/file{{ relPath }}" target="_blank" class="link">
          <div class="item file">
            <div class="image">
              {{#if isImage }}
                <img src="/file{{ relPath }}" class="preview" />
              {{else }}
                <img src="/static/svg/file.svg" class="icon" />
              {{/if }}
            </div>
            <p class="fileName">{{ name }}</p>
            <p class="fileSize">{{ size }}</p>
          </div>
        </a>
      {{/if }}
    {{/each }}
  </div>
</body>
</html>
