<!DOCTYPE html>
<html>
<head>
  <title>fserve</title>
  <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
  <div class="list">
    {{#each files }}
      {{#if isDir }}
        <a href={{ formattedRelPath }} class="link">
          <div class="item directory">
            <img src="/static/svg/folder.svg" />
            <p>{{ name }}/</p>
          </div>
        </a>
      {{else }}
        <a href="/file{{ relPath }}" class="link">
          <div class="item file">
            <img src="/static/svg/file.svg" />
            <p>{{ name }}</p>
          </div>
        </a>
      {{/if }}
    {{/each }}
  </div>
</body>
</html>
