<ul>
  {{#each files }}
    {{#if isDir }}
      <li><a href={{ formattedRelPath }}>{{ name }} (DIR)</a></li>
    {{else }}
      <li><a href="/file{{ relPath }}">{{ name }}</a></li>
    {{/if }}
  {{/each }}
</ul>
